.profile-name {
  /* border: 1px solid blue; */
  margin: 0;
}
.profile-title {
  /* border: 1px solid green; */
  margin: 0.5rem 0;
  margin-bottom: 1rem;
}
.profile {
  border: 1px solid gray;
  width: 250px;
  text-align: center;
}
.avata {
  /* border: 1px solid tomato; */
  width: 250px;
  text-align: center;
  padding: 1rem 0;
}
.avata-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 3px solid gray;
}
.avata-name {
  font-size: 1.2rem;
  font-weight: bold;
}