/*
  Global
*/
:root {
  /* App Color */
  --color-primary: var(--color-black);
  --color-accent: var(--color-blue);
  --color-text: var(--color-white);

  /* Color list */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* size */
  --max-size-width: 1200px;
}
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
}