.header__menu__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  /* background-color: var(--color-primary); */
}
.header__menu {
  background-color: var(--color-primary);
}
.header__menu > a {
  color: var(--color-text);
}
.header__menu:first-child > a {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}
.header__menu__item {
  display: inline-block;
  color: var(--color-primary);
  padding: 10px 16px;
  /* background-color: var(--color-text); */
  text-decoration: none;
}
.header__menu__item:hover {
  border-bottom: 3px solid var(--color-accent);
}
.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}
